<div class="container">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="row">
            <div class="col-md-4">
                <h1 class="title">Rätta test</h1>
            </div>
            <!-- Selector for tests -->
            <div class="col-md-4">
                <select class="form-control" id="testSelector" style="margin-top: 24px; margin-bottom: 0">
                    <option hidden>Välj test</option>
                    {{#each tests}}
                        <option class="{{testid}}">{{testname}}</option>
                    {{/each}}
                </select>
            </div>
            <!-- Selector for students -->
            <div class="col-md-4">
                <select class="form-control" id="userSelector" style="margin-top: 24px; margin-bottom: 0">
                    <option hidden>Välj elev</option>
                </select>
            </div>
        </div>
        <hr/>

        <!-- Container for questions -->
        <div id="questionBox">
        </div>

        <!-- Container for testcomment -->
        <div id="commentBox">
        </div>

        <!-- Correct Button -->
        <button type="submit" id="correctBtn" class="btn btn-primary">Rätta test</button>
    </div>
</div>

<script>
    $(function() {
        // Event for commentbutton to show/hide comment textarea
        $('body').on('click', '.commentButton', function() {
            $(this).parent().find('textarea').toggle();
        });
        // Event for panel-heading to show/hide panel-body
        $(document).on('click', '.panel-heading', function(e) {
            if(!$(event.target).is('input')) {
                $(this).next('.panel-body').slideToggle();
            }
        });


        var selectedTestId;
        // Event for test selector to show students that made the selected test
        $('#testSelector').on('change', function() {
            var selected = $(this).find(":selected").text();
            $('#userSelector').html('<option hidden>Välj elev</option>')
            {{#tests}}
                if('{{testname}}' == selected){
                    selectedTestId = {{testid}};
                }
            {{/tests}}
            if(selectedTestId){
                {{#users}}
                    if('{{userid}}' == selectedTestId){
                        $('#userSelector').append('<option class="{{atId}}">{{username}}</option>');
                    }
                {{/users}}
            }
        });
        // Event for userselector to show the answers for the selected student
        $('#userSelector').on('change', function () {
            var selectedTest = $('#testSelector').find(":selected").text();
            var selectedUser = $('#userSelector').find(":selected").text();
            $('#commentBox').html(`
                <div class="panel panel-default testkommentar">
                    <div class="panel-heading clearfix">
                        <h3 class="panel-title">Kommentar för Test:</h3>
                    </div>
                    <div class="panel-body collapse">
                        <textarea class="form-control testComment" rows="5" style="resize: vertical; margin-bottom: 15px"></textarea>
                    </div>
                </div>
            `);
            $('#questionBox').empty();
            
            // Appends each question with answers
            {{#testdata}}
                if(selectedTestId === {{testId}}){
                    if('{{this.questionText}}' != question){
                        $('#questionBox').append(`
                            <div class="panel panel-default">
                                <div class="panel-heading clearfix">
                                    <h3 class="panel-title">{{this.questionText}} ({{this.questionType}})<span class="pull-right">Poäng: <input type="text" class="points" size="1" value="{{this.questionPoints}}"> / {{this.questionPoints}}</span></h3>
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-6">
                                        <h4 class="title">Svar:</h4>
                                        <ul class="list-group useranswers">
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <h4 class="title">Rätt svar:</h4>
                                        <ul class="list-group correctanswers">

                                        </ul>
                                    </div>
                                    <div class="col-md-12">
                                        <textarea class="form-control collapse qcomment" rows="5" style="resize: vertical; margin-bottom: 15px"></textarea>
                                        <button type="button" class="btn btn-default commentButton">Kommentera fråga</button>
                                    </div>
                                </div>
                            </div>
                        `);
                    }

                    var testId = $('#userSelector').find(":selected").attr('class');
                    var questionId = {{questionId}} || 0;
                    var type = '{{questionType}}';
                    {{#this.userAnswers}}
                        if({{AnsweredTestId}} == testId){
                            if({{AQuestionId}} == questionId && $('#{{UserAnswerId}}').attr('id') == undefined){
                                $('.points').eq({{questionOrder}} - 1).attr('name', '{{UAQuestionId}}');
                                $('.qcomment').eq({{questionOrder}} - 1).attr('name', '{{UAQuestionId}}');
                                if(type == 'Öppen fråga'){
                                    $('.useranswers').eq({{questionOrder}} - 1).append('<li class="list-group-item" id="{{UserAnswerId}}">{{UAText}}</li>');

                                } else {
                                    $('.useranswers').eq({{questionOrder}} - 1).append('<li class="list-group-item" id="{{UserAnswerId}}">{{AText}}</li>');
                                }
                            }
                        }

                    {{/this.userAnswers}}

                    if('{{answerCorrect}}' == 1){
                        $('.correctanswers').eq({{questionOrder}} - 1).append('<li class="list-group-item">{{answerText}}</li>');
                    }
                    var question = '{{this.questionText}}';
                }
            {{/testdata}}
        });
    });

    // Event for correctBtn to post the corrected test
    $('#correctBtn').on('click', function(){
        var testData = {};
        collectInfo(testData);
        createComments(testData);
        console.log(testData);
        $.ajax({
            url: '/correct',
            method: 'post',
            data: testData,
            success: function(){
                console.log('Created test successfully');
                location.reload();
            }
        });
    });

    // Function to collect data for the test
    function collectInfo(data){
        data.TestId = $('#testSelector').find(":selected").attr('class');
        data.TakenTestId = $('#userSelector').find(":selected").attr('class');
        data.points = 0;
        data.updatePoints = [];
        $('.points').each(function(){
            data.points += Number($(this).val());
            data.updatePoints.push({points: Number($(this).val()), AQId: Number($(this).attr('name'))});
        });
    }

    // Function the create comments for the questions
    function createComments(data){
        data.comments = [];
        $('.qcomment').each(function(){
            if($(this).val()){
                var comment = {
                    questionId: $(this).attr('name'),
                    text: $(this).val(),
                    teacher: {{id}}
                }
                data.comments.push(comment);
            }
        })
        if($('.testComment').val()){
            data.testComment = {
                text: $('.testComment').val(),
                teacher: {{id}},
                test: $('#userSelector').find(":selected").attr('class')
            }
        }
    }
    
</script>