<div class="container">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="row">
            <div class="col-md-4">
                <h1 class="title">Rätta test</h1>
            </div>
            <div class="col-md-4">
                <select class="form-control" id="testSelector" style="margin-top: 24px; margin-bottom: 0">
                    <option hidden>Välj test</option>
                    {{#each tests}}
                        <option>{{testname}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="col-md-4">
                <select class="form-control" id="userSelector" style="margin-top: 24px; margin-bottom: 0">
                    <option hidden>Välj elev</option>
                </select>
            </div>
        </div>


        <hr/>
        <div id="questionBox">

        </div>
        <button type="button" class="btn btn-primary">Rätta test</button>
    </div>
</div>

<script>
    $(function() {
        $('body').on('click', '.commentButton', function() {
            $(this).parent().find('textarea').toggle();
        });
        $(document).on('click', '.panel-heading', function(e) {
            if(!$(event.target).is('input')) {
                $(this).next('.panel-body').slideToggle();
            }
        });
        var selectedTestId;
        $('#testSelector').on('change', function() {
            var selected = $(this).find(":selected").text();
            $('#userSelector').html('<option hidden>Välj elev</option>')
            {{#tests}}
                if('{{testname}}' == selected){
                    selectedTestId = {{testid}};
                }
            {{/tests}}
            if(selectedTestId){
                {{#users}}
                    if('{{userid}}' == selectedTestId){
                        $('#userSelector').append('<option class="{{atId}}">{{username}}</option>');
                    }
                {{/users}}
            }
        });
        $('#userSelector').on('change', function () {
            var selectedTest = $('#testSelector').find(":selected").text();
            var selectedUser = $('#userSelector').find(":selected").text();
            $('#questionBox').empty();
            {{#testdata}}
                if(selectedTestId === {{testId}}){
                    if('{{this.questionText}}' != question){
                        $('#questionBox').append(`
                            <div class="panel panel-default">
                                <div class="panel-heading clearfix">
                                    <h3 class="panel-title">{{this.questionText}} ({{this.questionType}})<span class="pull-right">Poäng: <input type="text" size="1" value="{{this.questionPoints}}"> / {{this.questionPoints}}</span></h3>
                                </div>
                                <div class="panel-body">
                                    <div class="col-md-6">
                                        <h4 class="title">Svar:</h4>
                                        <ul class="list-group useranswers">
                                        </ul>
                                    </div>
                                    <div class="col-md-6">
                                        <h4 class="title">Rätt svar:</h4>
                                        <ul class="list-group correctanswers">

                                        </ul>
                                    </div>
                                    <div class="col-md-12">
                                        <textarea class="form-control collapse" rows="5" style="resize: vertical; margin-bottom: 15px"></textarea>
                                        <button type="button" class="btn btn-default commentButton">Kommentera fråga</button>
                                    </div>
                                </div>
                            </div>
                        `);
                    }

                    var testId = $('#userSelector').find(":selected").attr('class');
                    var questionId = {{questionId}} || 0;
                    var type = '{{questionType}}';
                    {{#this.userAnswers}}
                        if({{AnsweredTestId}} == testId){
                            console.log();
                        if({{AQuestionId}} == questionId && $('#{{UserAnswerId}}').attr('id') == undefined){
                            if(type == 'Öppen fråga'){
                                $('.useranswers').eq({{questionOrder}} - 1).append('<li class="list-group-item" id="{{UserAnswerId}}">{{UAText}}</li>');

                            } else {
                                $('.useranswers').eq({{questionOrder}} - 1).append('<li class="list-group-item" id="{{UserAnswerId}}">{{AText}}</li>');
                            }
                        }
                    }
                    {{/this.userAnswers}}

                    if('{{answerCorrect}}' == 1){
                        $('.correctanswers').eq({{questionOrder}} - 1).append('<li class="list-group-item">{{answerText}}</li>');
                    }
                    var question = '{{this.questionText}}';
                }
            {{/testdata}}
        });
    });
</script>