<div class="container" id="test">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="title">Redigera test</h1>
            </div>
        </div>
        <hr>
        <div class="panel panel-default notthis">
            <div class="panel-heading" id="#editTest">
                <input type="hidden" class="{{id}}" id="{{test.TestId}}">
                <h3 class="panel-title" id="paneltitle">Redigera test</h3>
            </div>
            <div class="panel-body">
                <form>
                    <!-- Test Name -->
                    <label class="control-label">Namn på test:</label>
                    <div id = "controlTestName" class=""> </div>
                    <div id = "errorTestName" class="">
                        <input type="text" class="form-control" value="{{test.TTitle}}" id="testName"></div>

                    <!-- Time Limit -->
                    <label class="control-label">Tidsbegränsning:</label>
                    <div id = "controlTime" class=""> </div>
                    <div id = "errorTime" class="">
                        <div class="input-group">
                        <span class="input-group-addon">
                            <input type="checkbox" id="timed">
                        </span>
                            <input type="text" class="form-control" value="{{test.TTimeMin}}" id="time">
                        </div></div>

                    <!-- Datepicker -->
                    <div class="row">
                        <div class="col-lg-6">
                            <label class="control-label" for="date">Startdatum:</label>
                            <div id = "controlStartdate" class=""> </div>
                            <div id = "errorStartdate" class="">
                                <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                                    <input class="form-control" id="dateStart" placeholder="YYYY-MM-DD" type="text"/>
                                </div></div>
                        </div>
                        <div class="col-lg-6">
                            <label class="control-label" for="date">Starttid:</label>
                            <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                                <input class="form-control timepicker" id="timeStart" type="text" placeholder="HH:MM"/>
                            </div>
                        </div>
                    </div>

                    <!-- Datepicker -->
                    <div class="row">
                        <div class="col-lg-6">
                            <label class="control-label" for="date">Slutdatum:</label>
                            <div id = "controldate" class=""> </div>
                            <div id = "errordate" class="">
                                <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                                    <input class="form-control" id="date" placeholder="YYYY-MM-DD" type="text"/>
                                </div></div>
                        </div>
                        <div class="col-lg-6">
                            <label class="control-label" for="date">Sluttid:</label>
                            <div class="input-group">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-time"></span>
                            </span>
                                <input class="form-control timepicker" type="text" id="timeEnd" placeholder="HH:MM"/>
                            </div>
                        </div>
                    </div>

                    <!-- Checkbox -->
                    <div class="checkbox">
                        <label><input type="checkbox" value="" id="selfCorrecting">Självrättande</label>
                    </div>
                    <div class="checkbox hidden" id="directResult">
                        <label><input type="checkbox" value="" class="directResult">Direktresultat</label>
                    </div>
                    <div id =saved class="">
                        <label class="control-label" id="testSaved"></label>
                    </div>
                </form>
            </div>
        </div>

        <!-- Modal -->
        <div id="questionModal" class="modal fade" role="dialog">

        </div>
        <div id="editModal" class="modal fade" role="dialog">

        </div>

        <div id="questionBox">
            {{#test.questions}}

                <div class="panel panel-default">
                    <div class="panel-heading clearfix">
                        <meta class="{{QType}}">

                        <div class="pull-right">
                            <button type="button" class="btn btn-default btn-sm btn-edit" data-toggle="modal" data-target="#editModal">Redigera</button>
                            <button type="button" class="btn btn-default btn-sm btn-remove">
                                &nbsp;<span class="glyphicon glyphicon-remove"></span>&nbsp;
                            </button>
                        </div>
                        <h3 class="panel-title" style="margin-top: 5px">{{Question}} ({{QType}})<span style="margin-right: 15px" class="pull-right">Poäng: {{QPoints}}</span></h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group sortable">
                            {{#this.answers}}
                                <li class="list-group-item">{{AText}}<span class="pull-right">Rätt svar:
                                <input type="checkbox" klickad="{{APoints}}"></span></li>
                            {{/this.answers}}
                        </ul>
                    </div>
                </div>
            {{/test.questions}}

        </div>

        <!-- Buttons -->
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#questionModal" id="createQuestion">Skapa Fråga</button>
        <button type="button" class="btn btn-default pull-right" id="saveChanges">Spara</button>
    </div>

</div>

<!-- Footer -->
<footer class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <p class="navbar-text text-center"> Web Design & Development by Winners
            <span class="glyphicon glyphicon-star"></span>
        </p>
    </div>
</footer>

<script src="js/createedit.js"></script>
<script>

    if({{copy}} == true){
        console.log('Det är sant!');
        $('.title').text('Skapa test');
        $('#paneltitle').text('Skapa test');
    }
    $('input[type=checkbox]').each(function(){
        if($(this).attr('klickad') == 1){
            $(this).prop('checked', true);
        }
    })

    var startDT = '{{test.TStartTestDate}}';
    var endDT = '{{test.TEndTestDate}}';

    $('#dateStart').val(startDT.split(' ')[0]);
    $('#timeStart').val(startDT.split(' ')[1].substr(0, startDT.split(' ')[1].length - 3));
    $('#timeEnd').val(endDT.split(' ')[1].substr(0, endDT.split(' ')[1].length - 3));
    $('#date').val(endDT.split(' ')[0]);

    if('{{test.TSelfCorrecting}}' == 1){
        $('#selfCorrecting').prop('checked', true);
        $('#directResult').toggleClass('hidden');
        if('{{test.TResult}}' == 1){
            $('.directResult').prop('checked', true);
        }
    }
    if('{{test.TTimeMin}}' != 0){
        $('#timed').prop('checked', true);
    }

    $('#saveChanges').on('click', function(){
        var url = "";
        var title = $('#testName').val();
        if(title == '{{test.TTitle}}'){
            $('#testName').val(title + '1');
        }
        url = {{copy}} == true ? "/create" : "/edit";
        if($("#dateStart").val()=='' || $("#date").val()=='') {
            $("#missingInput").show();
            console.log("Inte tillåtet!");
        } else {
            $("#missingInput").hide();
            console.log("Tillåtet!");
            var testData = {};
            getTestData(testData);
            getQuestionData(testData);
            getAnswerData(testData);
            console.log(testData);
            if(testData.data.testTitle == '{{test.TTitle}}'){
                testData.data.testTitle += '1';
            }
            $.ajax({
                url: url,
                method: 'post',
                data: testData,
                success: function(){
                    console.log('Changed test successfully');
                    location.replace('/');
                }
            });
        }
    });
</script>