<div class="container">l
    <div class="col-md-4 col-md-offset-4">

        <!-- Test selection -->
        <h3 class="page-header">Välj test att redigera</h3>
        <form action="/test" method="get">
            <select name="test" id="testSelect" class="form-control">
                {{#each editQuestions}}
                    <option class="{{this.QuestionId}}">{{this.Question}}</option>
                {{/each}}
            </select>
            <select name="test" id="testSelect" class="form-control">
                {{#each editAnswers}}
                    <option class="">{{this.AText}}</option>
                {{/each}}
            </select>
            <select name="test" id="testSelect" class="form-control">
                <option class="">{{nrOfQuestions}}</option>
            </select>
            <select name="test" id="testSelect" class="form-control">
                {{#questionGroup}}
                    <option class="">{{this.[0].AnswersId}}</option>
                {{/questionGroup}}
            </select>
            <select name="test" id="testSelect" class="form-control">
                {{#questionGroup}}
                    <option class="">{{this.[1].AnswersId}}</option>
                {{/questionGroup}}
            </select>
            <br>
            <button type="button" class="btn btn-primary btn-block" id="editButton" value="hh">Redigera test</button>
        </form>
    </div>
</div>



<script>

    /* for(nrOfQuestions)
        var i =
    */

</script>