<div class="container">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="row">
            <div class="col-md-4">
                <h1 class="title">Skapa PDF</h1>
            </div>
            <div class="col-md-4">
                <select class="form-control" id="testSelector" style="margin-top: 24px; margin-bottom: 0">
                    <option hidden>Välj test</option>
                    {{#each tests}}
                        <option>{{testname}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="col-md-4">
                <select class="form-control" id="userSelector" style="margin-top: 24px; margin-bottom: 0">
                    <option hidden>Välj elev</option>
                </select>
            </div>
        </div>


        <hr/>
        <div id="questionBox">

        </div>
        <button type="button" class="btn btn-primary" id="createPDF">skapa PDF</button>

    </div>
</div>

    <script>
        //Display the students who has written the test
    $(function() {
        var selectedTestId;
        $('#testSelector').on('change', function() {
            var selected = $(this).find(":selected").text();
            $('#userSelector').html('<option hidden>Välj elev</option>')
          ;
            {{#tests}}
                if('{{testname}}' == selected){
                    selectedTestId = {{testid}};
                }
            {{/tests}}
            if(selectedTestId){
                {{#users}}
                    if('{{userid}}' == selectedTestId){

                        $('#userSelector').append('<option class="{{atId}}">{{username}}</option>');
                    }
                {{/users}}
            }
        });
        //Function creates PDF
        $('#createPDF').on('click', function(){
           $.ajax({
               url: '/createpdf',
               method: 'POST',
               data: {testid: selectedTestId, userid: $('#userSelector').find(':selected').attr('class')},
               success: function(){
                   location.replace('/downloadPDF');
               }
           })
        });
    });
</script>

