<!-- Page accessable for students, showing results of graded tests -->

<div class="container">
    <div class="col-md-4 col-md-offset-4">

        <!-- Test selection -->
        <h3 class="page-header">Välj test</h3>
        <form action="/test" method="get">
            <select name="test" id="testName" class="form-control">
                <option hidden>Välj prov</option>
                {{#each tests}}
                    <option class="{{this.TestId}}">{{this.TTitle}}</option>
                {{/each}}
            </select>
            <br>
        </form>

        <!-- Displaying results -->
        <table class="table collapse" id="statsTable">
        </table>
    </div>
</div>

<script>
    //Displays results of selected test when clicking button
    $(function() {
        $("select#testName").on("change", function() {
            $("#statsTable").slideDown(5000);
            {{#tests}}
            if('{{TTitle}}' == $('select#testName').val()){
                var percentage = ({{ATPoints}}/{{TMaxPoints}});
                percentage *= 100;
                percentage = Math.round((percentage * 1000) / 1000);
                var min = 0;
                var sec = {{ATTimeSec}};
                while(sec > 60){
                    sec -= 60;
                    min++;
                }
                $("#statsTable").html(`
                    <br><br>
                    <tr>
                        <th>Poäng:</th>
                        <td>{{ATPoints}}/{{TMaxPoints}}</td>
                    </tr>
                    <tr>
                        <th>Tidsåtgång:</th>
                        <td>`+ min +`min `+ sec +`sek</td>
                    </tr>
                    <tr>
                        <th>Betyg:</th>
                        <td>{{ATGrade}} (` + percentage + `%)</td>
                    </tr>
                    <tr>
                        <th colspan="2"><br>
                            Lärarens kommentarer:
                            <div class="form-group">
                                <textarea class="form-control" id="textArea" rows="10">{{TestComment}}</textarea>
                            </div>
                        </th>
                    </tr>

                    <button type="button" class="btn btn-primary" id="view">Se prov</button>
                `);
                // Making text field (teacher comments) read-only
                $("#textArea").prop("disabled", true);
                $('#view').on('click', function(){
                    location.replace('/testResult={{TestId}}');
                });
            }
            {{/tests}}
        });
    });
</script>
