<div class="col-md-3 pull-right text-center">
    <h2 id="timer"></h2>
</div>
<div class="container">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="">
            <h2>{{test.TTitle}}</h2>
        </div>

        {{#questions}}
            {{#if alternativ}}
            <!-- Radio button -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <meta class="alternativ">
                    <h3 class="panel-title" id="{{QuestionId}}">{{Question}}<span class="pull-right">Poäng: {{QPoints}}</span></h3>
                </div>
                <div class="panel-body">
                    {{#answers}}
                        <div class="radio">
                            <label><input type="radio" name="optradio" id="{{AnswersId}}">{{AText}}</label>
                        </div>
                    {{/answers}}
                </div>
            </div>
            {{/if}}

            {{#if rangordning}}
                <!-- Sortera -->
                <div class="panel panel-default">
                    <div class="panel-heading" data-toggle="collapse" data-target="#panel-body">
                        <meta class="rang">
                        <h3 class="panel-title" id="{{QuestionId}}">{{Question}}<span class="pull-right">Poäng: {{QPoints}}</span></h3>
                    </div>
                    <div class="panel-body" id="panel-body">
                        <ul class="list-group sortable" id="sortable">
                            {{#answers}}
                                <li class="list-group-item" id="{{AnswersId}}">{{AText}}</li>
                            {{/answers}}
                        </ul>
                    </div>
                </div>
            {{/if}}

            {{#if flerval}}
                <!-- Checkbox -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <meta class="flerval">
                        <h3 class="panel-title" id="{{QuestionId}}">{{Question}}<span class="pull-right">Poäng: {{QPoints}}</span></h3>
                    </div>
                    <div class="panel-body">
                        {{#answers}}
                            <div class="checkbox">
                                <label><input type="checkbox" value="" id="{{AnswersId}}">{{AText}}</label>
                            </div>
                        {{/answers}}
                    </div>
                </div>
            {{/if}}

            {{#if oppna}}
                <!-- Textarea -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <meta class="oppna">
                        <h3 class="panel-title" id="{{QuestionId}}">{{Question}}<span class="pull-right">Poäng: {{QPoints}}</span></h3>
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label>Svar:</label>
                            {{#answers}}
                                <textarea class="form-control" rows="5" id="{{AnswersId}}"></textarea>
                            {{/answers}}
                        </div>
                    </div>
                </div>
            {{/if}}
        {{/questions}}

        <button type="button" class='btn btn-primary pull-right' id="turnIn">Lämna In</button>
    </div>
</div>

<script>
    $(function(){
        $(".sortable").sortable();


        $('.container').on('click', '.panel-heading', function(e) {
            $(this).next('.panel-body').slideToggle();
        });

        $('#turnIn').on('click', function(){
            turnIn();
        })
    });



    var sec = 0;
    var min;
    var myVar;
    timer({{test.TTimeMin}});

    //Function timer start function countDown every second.
    function timer(time) {
        if(time == 0){
            return;
        }
        min = time;
        countDown(); //Call function countDown too show starttime before count down.
        myVar = setInterval(countDown, 1000);
    }

    //Function countDown display time in HTML
    function countDown() {
        var element = document.getElementById('timer');
        if(sec <10){
            element.innerHTML =   min + ':' + '0' + sec;}
        else{
            element.innerHTML = min + ':' + sec;
        }

        if (sec < 1 && min < 1) {
            clearInterval(myVar);
        }
        if (sec < 1) {
            min--;
            sec = 60;
        }
        sec--;
    }

    function turnIn(){
        var data = {};
        createTakenTest(data);
        createAnsweredQuestions(data);
        createAnswers(data);
        console.log(data);
        $.ajax({
            url: '/turnin',
            method: 'post',
            data: data,
            success: function(){
                console.log('Turning in');
/*                location.replace('/');*/
            }
        })
    }

    function createTakenTest(data){
        var takenTest = {};
        takenTest.ATestId = {{test.TestId}};
        takenTest.ATDate = 'now()';
        takenTest.ATTimeMin = $('#timer').text() ? {{test.TTimeMin}} - 1 - Number($('#timer').text().split(':')[0]) : 0;
        takenTest.ATTimeSec = $('#timer').text() ? 59 - Number($('#timer').text().split(':')[1]) : 0;
        takenTest.ATCorrected = 0;
        takenTest.ATPoints = 0;
        takenTest.ATGrade = 0;
        takenTest.ATUserId = {{id}};
        data.takenTest = takenTest;
    }

    function createAnsweredQuestions(data){
        var UAQuestions = [];
        $('.panel-default').each(function(i){
            var UAQuestion = {};
            var questionId = Number($(this).find('h3.panel-title').attr('id'));
            UAQuestion.AQQuestionId = questionId;
            UAQuestion.AQPoints = 0;
            UAQuestions.push(UAQuestion);
        });
        console.log(UAQuestions);
        data.UAQuestions = UAQuestions;
    }

    function createAnswers(data){
        var userAnswers = [];
        var userAnswer;

        $('.panel-default').each(function(i){
            userAnswer = new Object();
            switch($(this).find('meta').attr('class')){
                case 'flerval':
                    $(this).find('input[type=checkbox]').each(function(index){
                        userAnswer = new Object();
                        if($(this).is(':checked')){
                            userAnswer.UAAnswersId = $(this).attr('id');
                            userAnswer.UAOrder = index;
                            userAnswer.UAText = null;
                            userAnswers.push(userAnswer);
                            return true;
                        }
                    });
                    break;
                case 'rang':
                    $(this).find('li.list-group-item').each(function(index){
                        userAnswer = new Object();
                        userAnswer.UAAnswersId = $(this).attr('id');
                        userAnswer.UAOrder = index;
                        userAnswer.UAText = null;
                        userAnswers.push(userAnswer);
                        return true;
                    });
                    break;

                case 'oppna':
                    userAnswer.UAAnswersId = $(this).find('textarea').attr('id');
                    userAnswer.UAOrder = i;
                    userAnswer.UAText = $(this).find('textarea').val();
                    userAnswers.push(userAnswer);
                    break;

                case 'alternativ':
                    userAnswer.UAAnswersId = $(this).find('input[type=radio]:checked').attr('id');
                    userAnswer.UAOrder = i;
                    userAnswer.UAText = null;
                    userAnswers.push(userAnswer);
                    break;
            }
        })

        data.userAnswers = userAnswers;
    }

</script>
